.search {
  gap: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  .search__title {
    color: white;
    font-size: 25px;
  }  
  .search__input {
    width: 70%;
    height: 50px;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 0px 20px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: transparent;
    &::placeholder {
      color: white;
    }
  }  
}